/*Estilos de la pagina "Cursos y libros"*/
/*Acá apliqué el map-get*/
.colorFondoMain{
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    #seccionImgs{
        width: 90%;
        margin:0 auto;
        height: 85vh;
        background: $color-negro;
        display: flex;
        justify-content: center;
        align-items: center;
        border:0.5px solid gray;
        div{
            width: 0px;
            height:100%;
            flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
            object-fit: cover;
            /*
            object-fit: cover; //para que la imagen se adapte al tamaño de la caja
            */
            opacity: 0.5;
            transition: .5s ease;
            .textoImg{
                position: absolute;
                top: 0;
                left: 0;
                color: white;
                display: none;
                background-color: rgba(37, 37, 37, 0.918);
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 20%;
                overflow: hidden;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
        }
        div:hover{
            width: 30%;
            opacity: 1;
            filter:contrast(120%);
        }
        div:hover >.textoImg{
            display: block;
        }
    }
    .tituloCyl{
        color: $color-negro;
        text-align: center;
        background-color: rgb(255, 255, 146);
        border: map-get($map: bordes, $key: border, border-radius);
        margin: 10px auto;
        width: 50%;
    }
}
/*MediaQuerys de "Cursos y Lirbos"*/
@media (max-width: 768px){
    section{
        flex-wrap: wrap;
        img{
            height: 80%;
        }
        img:hover{
            width: 70%;
            
        }
    }   
}