/*Estilos de la página "Sobre mi"*/
/*Acá apliqué el map-get*/
/*También apliqué el extend*/
.colorFondoMain{
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    .imgEmprendedor{
        max-width: 100%;
        height: 500px;
        border: map-get($map: bordes, $key: border, border-radius);
    }
    .imgEstudiante{
        max-width: 100%;
        height: 500px;
        border: map-get($map: bordes, $key: border, border-radius);
    }
    .cajaYo{
        border: map-get($map: bordes, $key: border, border-radius);
        margin: 5px;
        .estudiante{
            color: $color-negro;
            text-align: center;
            background-color: rgb(255, 255, 146);
            border: map-get($map: bordes, $key: border, border-radius);
            margin: 7px;
        }
        .emprendedor{
            @extend .estudiante;
        }
    }
}
/*MediaQuerys de "Sobre mi"*/
@media(max-width:1280px){
    .colorFondoMain{
        margin-top: 7%;
    }
}
@media(max-width:905px){
    .colorFondoMain{
        margin-top: 9%;
    }
}
@media(max-width:715px){
    .colorFondoMain{
        margin-top: 11%;
    }
}
@media(max-width:580px){
    .colorFondoMain{
        margin-top: 13%;
    }
}
@media(max-width:490px){
    .colorFondoMain{
        margin-top: 15%;
    }
}
@media(max-width:420px){
    .colorFondoMain{
        margin-top: 17%;
    }
}
@media(max-width:1199px){
    .imgEmprendedor{
        width: 100%;
    }
    .contenedorImg{
        width: 100%;
    }
}
@media(min-width:1199px){
    .imgEmprendedor{
        width: 650px;
    }
}
@media(max-width:1199px){
    .imgEstudiante{
        width: 100%;
    }
    .contenedorImg{
        width: 100%;
    }
}
@media(min-width:1199px){
    .imgEstudiante{
        width: 650px;
    }
}