/*Estilo del body de "index"*/
/*Acá apliqué el map-get*/
.imagenFondoPrincipal{
    color: white;
    width: auto;
    height: 100vh;
    background-image: url("../Assests/IMG/pexels-marlon-martinez-1450082.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .textoPresentacion{
        font-size: 40px;
        display: block;
        text-align: center; 
        margin-top: 20%;
        
        .comenzarAhora{
            font-size: 20px;
            color: white;
            border: map-get($map: bordes, $key: border, border-radius);
            background-color: rgb(216, 216, 103);
            padding: 7px;
             
        }
        .textoPresentacionH2{
            font-size: 70px;
            margin: 100px 0;
        } 
    }    
}
.sigamosEnContacto{
    color: white;
    background-color: grey;
    display: block;
    text-align: center;
    padding: 45px;
    .m0a{
        margin: 0 auto;
    }
    .textoTransparente{
        color: rgba(255, 255, 255, 0.644);
    }
}