/*Estilos de la pagina "Formulario"*/
.formulario{
    margin: 10% auto;
    width: 40%;
}
.tituloForm{
    text-align: center;
}
/*MediaQuerys del Formulario*/
@media(max-width:2500px){
    .m0a{
        width: 25%;
    }
}
@media(max-width:1050px){
    .m0a{
        width: 30%;
    }
}
@media(max-width:890px){
    .m0a{
        width: 40%;
    }
}
@media(max-width:650px){
    .m0a{
        width: 50%;
    }
}
@media(max-width:475px){
    .m0a{
        width: 60%;
    }
}
@media(max-width:375px){
    .m0a{
        width: 80%;
    }
}
@media(max-width:720px){
    .tituloForm{
        margin-top: 10%;
    }
}
@media(max-width:500px){
    .tituloForm{
        margin-top: 20%;
    }
}
@media(max-width:420px){
    .tituloForm{
        margin-top: 30%;
    }
}
@media(max-width:1000px){
    .formulario{
        width: 60%;
    }
}
@media(max-width:630px){
    .formulario{
        width: 60%;
    }
}
@media(max-width:500px){
    .formulario{
        width: 80%;
    }
}